.formacao-container {
    max-width: 1200px;
    padding: 120px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.formacao .subtitulo {
    color: transparent;
}

.formacao-texto {
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 40ch;
    margin-bottom: 60px;
}

.faculdade-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 60px;
}

.faculdade {
    flex: 1;
    background: #131313;
    padding: 20px;
    border-radius: 0px 40px;
    display: flex;
    flex-direction: column;
}

.faculdade-tipo {
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.faculdade-curso {
    flex: 1;
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 40px;
    position: relative;
}


.faculdade-curso::before {
    content: '';
    display: block;
    width: 110px;
    height: 6px;
    background: linear-gradient(#8503c1, #DB00FF);
    position: absolute;
    top: -48px;
    left: -4px;
}

.faculdade-instituicao {
    font-size: 1.125rem;
}

@media (max-width: 800px) {
    .formacao-container {
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .formacao .subtitulo {
        display: none;
    }

    .formacao-texto {
        font-size: 1.125rem;
    }
}

